#header {
    height: 50px;
    background: #f8d117;
    color: #10284e;

}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #10284e;
    color: #fff;
}

div.breadcrumbs a{
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    background: #f8d117;
}

.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
    background: #10284e;
    color: #fff;
}
a.section:link, a.section:visited {
    color: black;
    text-decoration: none;
}

#branding h1 {
    color: #10284e;
}

